# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
src/learning_data/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
*.iml

## Directory-based project format:
.idea/

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Django local settings:
local_settings.py

# Sphinx documentation
docs/_build/

# Project intermediate build files
static/js/build/

# Bower components
bower_components/

# Node modules
node_modules/
